---
title: Components Button Reset
description:
name: components-button-reset
layout: page
base_url: "../../../"
---
{{#extend "page"}}
{{#content "content"}}

<p class="t-mb0">v{{components.button.reset.pkg.version}}</p>
<p class="docs-moduleName">{{components.button.reset.pkg.description}}</p>

<section class="t-clear">
  <h2>Example</h2>
  <h3>Default</h3>
  <div class="Demo-field">
    <a class="Button Button--reset" href="#">Normal</a>
    <a class="Button Button--reset is-active" href="#">Active</a>
    <a class="Button Button--reset is-disabled" href="#">Disable</a>
  </div>
{{#markdown}}
```html
<a class="Button Button--reset" href="#">Normal</a>
<a class="Button Button--reset is-active" href="#">Active</a>
<a class="Button Button--reset is-disabled" href="#">Disable</a>
```
{{/markdown}}

  <h3>Small, Default, Large, Extra large</h3>
  <div class="Demo-field">
    <a class="Button Button--reset Button--sm" href="#">Small</a>
    <a class="Button Button--reset" href="#">Normal</a>
    <a class="Button Button--reset Button--lg" href="#">Large</a>
    <a class="Button Button--reset Button--xl" href="#">Extra Large</a>
  </div>
{{#markdown}}
```html
<a class="Button Button--reset Button--sm" href="#">Small</a>
<a class="Button Button--reset" href="#">Normal</a>
<a class="Button Button--reset Button--lg" href="#">Large</a>
<a class="Button Button--reset Button--xl" href="#">Extra Large</a>
```
{{/markdown}}
</section>


<section class="t-clear">
  <h2>Rule Settings</h2>
{{#markdown}}
```css

{{{components.button.reset.css}}}
```
{{/markdown}}

</section>

{{/content}}
{{/extend}}
