---
title: Components Button Size
description:
name: components-button-size
layout: page
base_url: "../../../"
---
{{#extend "page"}}
{{#content "content"}}

<p class="t-mb0">v{{components.button.size.pkg.version}}</p>
<p class="docs-moduleName">{{components.button.size.pkg.description}}</p>

<section class="t-clear">
  <h2>Example</h2>
  <h3>small, normal, large, extra large</h3>
  <div class="Demo-field">
    <p>
      <a class="Button Button--sm" href="#">Small</a>
      <a class="Button" href="#">Normal</a>
      <a class="Button Button--lg" href="#">Large</a>
      <a class="Button Button--xl" href="#">Extra Large</a>
    </p>
    <p>
      <button type="button" class="Button Button--primary Button--sm">Small</button>
      <button type="button" class="Button Button--primary">Normal</button>
      <button type="button" class="Button Button--primary Button--lg">Large</button>
      <button type="button" class="Button Button--primary Button--xl">Extra Large</button>
    </p>
  </div>
{{#markdown}}
```html
<a class="Button Button--sm" href="#">Small</a>
<a class="Button" href="#">Normal</a>
<a class="Button Button--lg" href="#">Large</a>
<a class="Button Button--xl" href="#">Extra Large</a>

<button type="button" class="Button Button--primary Button--sm">Small</button>
<button type="button" class="Button Button--primary">Normal</button>
<button type="button" class="Button Button--primary Button--lg">Large</button>
<button type="button" class="Button Button--primary Button--xl">Extra Large</button>
```
{{/markdown}}
</section>

<section class="t-clear">
  <h2>Rule Settings</h2>
{{#markdown}}
```css
{{{components.button.reset.css}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
