---
title: Tools Clear
description:
name: tools-clear
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<p class="t-mb0">v{{tools.clear.pkg.version}}</p>
<p class="docs-moduleName">{{tools.clear.pkg.description}}</p>

<section class="t-clear">
  <h2>Example</h2>
{{#markdown}}
```html
<p class="t-clear">Clear</p>
```
{{/markdown}}
</section>

<section class="t-clear">
    <h2>Rule Settings</h2>
{{#markdown}}
```css
{{{tools.clear.css}}}
```
{{/markdown}}

</section>

{{/content}}
{{/extend}}
