---
title: Get Started
description:
layout: page
base_url: "../"
---
{{#extend "page"}}
{{#content "content"}}

<section class="t-clear">
  <h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{sircus.pkg.description}}</h2>
  <p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="https://github.com/sircus/{{file.meta.name}}" target="_blank">sircus</a> | v{{sircus.pkg.version}}</p>

  <h3>Download:</h3>
  <p>
    <a href="{{site.repo_url}}" target="_blank" class="Button t-fontMd">Download on GitHub</a>
  </p>

{{#markdown}}
### Install:

##### install PostCss Plugin

```
$ npm install --save-dev postcss-import postcss-custom-properties postcss-custom-media postcss-calc postcss-color-function
// or
$ npm install --save-dev postcss-import postcss-cssnext
```

##### install sircus

```html
$ npm install sircus
```

##### CSS:

```CSS
@import "sircus";
```

#### Sircus is a wrapper modules that summarizes the following modules.<br>You can import individually by using the postcss plugins and npm.

e.g:

##### install sircus modules

```
$ npm install --save-dev sircus-variables sircus-components-flex sircus-components-display sircus-tools-width
```
```CSS
@import "sircus-components-flex";
@import "sircus-tools-display";
@import "sircus-tools-display/responsive";
@import "sircus-tools-width";
@import "sircus-tools-width/responsive";
@import "sircus-variables";
```
{{/markdown}}
</section>


{{/content}}
{{/extend}}
