<footer class="docs-footer t-md-flex Flex t-mtHg t-pbXl" role="contentinfo">

  <div class="Flex-col t-gutter docs-columnSmall">
    <div class="t-ptSm t-borderTop2x">
      <p class="t-mb0">Create by <a class="docs-link" href="http://blivesta.com" target="_blank">blivesta</a>.</p>
    </div>
  </div>
  <div class="Flex-col Flex-col--fit">
    <div class="t-ptSm t-md-borderTop2x">
      <p class="t-mb0">Code licensed under the MIT.</p>
    </div>
  </div>

</footer>
