<header class="docs-header t-md-flex Flex Flex--bottom t-ptSm" role="banner">

  <div class="Flex-col t-gutter docs-columnSmall">
    <h1 class="t-mb0 t-pbMi t-md-borderBottom2x">
      <a class="t-decoNone" href="{{file.meta.base_url}}">{{site.title}}</a>
    </h1>
  </div>

  <div class="Flex-col Flex-col--fit">
    <div class="t-borderBottom2x">
      <div class="t-sm-flex Flex Flex--bottom t-gutterReset">
        <div class="Flex-col Flex-col--fit">
          <h2 class="t-mb0 t-pbMi">{{file.meta.title}}</h2>
        </div>
        <div class="Flex-col Flex-col--fit">
          <ul class="ListInline t-mbMi t-clear">
            <li class="t-sm-pullRight t-fontSm">
              <a class="t-decoNone" href="{{site.repo_url}}" target="_blank">
                GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</header>
