<nav class="docs-nav t-flex t-md-block Flex t-gutterReset">

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <h5><a href="{{file.meta.base_url}}get-started/">Get Started</a></h5>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <h4 class="t-md-mtLg">Example</h4>
    <ul class="ListReset">
      <li><a href="{{file.meta.base_url}}example/card/">card</a></li>
    </ul>
  </div>

  <div class="Flex-col t-widthFull">
    <h4 class="t-mtLg">Modules</h4>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <ul class="ListReset">
      {{> links/link-variables}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <ul class="ListReset">
      {{> links/link-elements}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <h5>Components</h5>
    <ul class="ListReset">
      {{> links/link-components}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <h5>Tools</h5>
    <ul class="ListReset">
      {{> links/link-tools}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <h4 class="t-mtLg">Documentation</h4>
    <ul class="ListReset">
      <li><a href="{{file.meta.base_url}}documentation/rules/">rules</a></li>
      <li><a href="{{file.meta.base_url}}documentation/base-elements/">base elements visual test</a></li>
    </ul>
  </div>

</nav>
