<nav class="docs-nav t-flex t-mtMi t-md-block Flex t-gutterReset">

  <div class="Flex-col t-widthFull">
    <p class="t-md-mtSm t-mbXs"><strong>Modules</strong></p>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <p class="t-mb0 t-uppercase t-normal t-fontXs t-letterSpacingLg">variables</p>
    <ul class="List t-mbXs">
      {{> links/link-variables}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <p class="t-mb0 t-uppercase t-normal t-fontXs t-letterSpacingLg">elements</p>
    <ul class="List t-mbXs">
      {{> links/link-elements}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <p class="t-mb0 t-uppercase t-normal t-fontXs t-letterSpacingLg">Components</p>
    <ul class="List t-mbXs">
      {{> links/link-components}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <p class="t-mb0 t-uppercase t-normal t-fontXs t-letterSpacingLg">Tools</p>
    <ul class="List">
      {{> links/link-tools}}
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <p class="t-md-mtXs t-mbXs"><strong>Documentation</strong></p>
    <ul class="List">
      <li><a href="{{file.meta.base_url}}get-started/">Get Started</a></li>
      <li><a href="{{file.meta.base_url}}documentation/rules/">rules</a></li>
      <li><a href="{{file.meta.base_url}}documentation/base-elements/">base elements visual test</a></li>
    </ul>
  </div>

  <div class="Flex-col t-widthHalf t-md-widthFull">
    <p class="t-md-mtMd t-mbXs"><strong>Example</strong></p>
    <ul class="List">
      <li><a href="{{file.meta.base_url}}example/card/">card</a></li>
    </ul>
  </div>

</nav>
