{{> head}}
<body class="t-gutter">

{{> header}}

<div class="Flex t-md-flex">

  <div class="Flex-col Flex-col--fit t-gutter">
    <main role="main">
      <p class="t-mt0 t-fontSm">
        {{#isnot file.meta.name ""}}
        <!-- <a class="docs-link" href="https://github.com/sircus/{{file.meta.name}}" target="_blank">
          Repository
        </a> -->
        {{else}}
        {{file.meta.description}}
        {{/isnot}}
      </p>

      <div class="Demo">
        {{{block "content"}}}
      </div><!-- /.Container -->
    </main>
  </div><!-- /.FLex-col -->

  <div class="Flex-col Flex-col--first t-gutter docs-columnSmall">
    {{> nav}}
  </div><!-- /.FLex-col -->

  <!-- <div class="Flex-col Flex-col--last t-gutter t-fontXs t-ptGt" style="width:160px">
  {{> carbon}}
  </div> -->

  <!-- /.FLex-col -->

</div><!-- /.FLex -->


{{> footer}}
</body>
</html>
