
a {
  color: #000;
}

nav a {
  font-size: var(--g-fontSize-sm);
}

.docs-carbon,
.docs-footer {
  font-size: var(--g-fontSize-xs);
}

.docs-carbon {
  position: absolute;
  width: 130px;
  top: 0;
  right: 0;
  background-color: color(#000 a(2%));
  right: calc(var(--g-gutter) * 2);
  padding-top: var(--g-space-sm);
  padding-bottom: var(--g-space-sm);
}

.docs-carbon a {
  color: var(--g-gray-30);
}

.docs-carbon img {
  margin-bottom: var(--g-space-xs);
}

.docs-carbon .carbon-poweredby {
  display: block;
  margin-top: var(--g-space-tn);
}

@media (--g-viewport-md) {
  .docs-columnSmall {
    width: 280px;
  }

  .docs-homeList--size li {
    width: 49.5%;
    box-sizing: border-box;
  }
}
