---
title: Tools Color
description:
name: tools-color
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<p class="t-mb0">v{{tools.color.pkg.version}}</p>
<p class="docs-moduleName">{{tools.color.pkg.description}}</p>

<section class="t-clear">
  <h2>Example</h2>

  <h3>Color</h3>
  <div class="Demo-field">
    <div class="t-colorBlack">colorBlack</div>
    <div class="t-colorGray90">colorGray90</div>
    <div class="t-colorGray80">colorGray80</div>
    <div class="t-colorGray60">colorGray60</div>
    <div class="t-colorGray40">colorGray40</div>
    <div class="t-colorGray30">colorGray30</div>
    <div class="t-colorGray20">colorGray20</div>
    <div class="t-colorGray10">colorGray10</div>
    <div class="t-colorGray5">colorGray5</div>
    <div class="t-colorWhite">colorWhite</div>
  </div>
{{#markdown}}
```html
<p class="t-colorBlack">...</p>
<p class="t-colorGray90">...</p>
<p class="t-colorGray80">...</p>
<p class="t-colorGray60">...</p>
<p class="t-colorGray40">...</p>
<p class="t-colorGray30">...</p>
<p class="t-colorGray20">...</p>
<p class="t-colorGray10">...</p>
<p class="t-colorGray5">...</p>
<p class="t-colorWhite">...</p>
```
{{/markdown}}

  <div class="Demo-field">
    <div class="t-colorPrimaryDark">colorPrimaryDark</div>
    <div class="t-colorPrimary">colorPrimary</div>
    <div class="t-colorPrimaryLight">colorPrimaryLight</div>

    <div class="t-colorSuccessDark">colorSuccessDark</div>
    <div class="t-colorSuccess">colorSuccess</div>
    <div class="t-colorSuccessLight">colorSuccessLight</div>

    <div class="t-colorNoticeDark">colorNoticeDark</div>
    <div class="t-colorNotice">colorNotice</div>
    <div class="t-colorNoticeLight">colorNoticeLight</div>

    <div class="t-colorWarningDark">colorWarningDark</div>
    <div class="t-colorWarning">colorWarning</div>
    <div class="t-colorWarningLight">colorWarningLight</div>

    <div class="t-colorErrorDark">colorErrorDark</div>
    <div class="t-colorError">colorError</div>
    <div class="t-colorErrorLight">colorErrorLight</div>

  </div>
{{#markdown}}
```html
<div class="t-colorPrimaryDark">...</div>
<div class="t-colorPrimary">...</div>
<div class="t-colorPrimaryLight">...</div>

<div class="t-colorSuccessDark">...</div>
<div class="t-colorSuccess">...</div>
<div class="t-colorSuccessLight">...</div>

<div class="t-colorNoticeDark">...</div>
<div class="t-colorNotice">...</div>
<div class="t-colorNoticeLight">...</div>

<div class="t-colorWarningDark">...</div>
<div class="t-colorWarning">...</div>
<div class="t-colorWarningLight">...</div>

<div class="t-colorErrorDark">...</div>
<div class="t-colorError">...</div>
<div class="t-colorErrorLight">...</div>
```
{{/markdown}}

  <h3>Fill</h3>
  <div class="Demo-field">
    <div class="t-fillBlack t-paMi t-colorWhite">fillBlack</div>
    <div class="t-fillGray90 t-paMi t-colorWhite">fillGray90</div>
    <div class="t-fillGray80 t-paMi t-colorWhite">fillGray80</div>
    <div class="t-fillGray60 t-paMi t-colorWhite">fillGray60</div>
    <div class="t-fillGray40 t-paMi t-colorWhite">fillGray40</div>
    <div class="t-fillGray30 t-paMi">fillGray30</div>
    <div class="t-fillGray20 t-paMi">fillGray20</div>
    <div class="t-fillGray10 t-paMi">fillGray10</div>
    <div class="t-fillGray5 t-paMi">fillGray5</div>
    <div class="t-fillWhite t-paMi">fillWhite</div>
  </div>
{{#markdown}}
```html
<div class="t-fillBlack">...</div>
<div class="t-fillGray90">...</div>
<div class="t-fillGray80">...</div>
<div class="t-fillGray60">...</div>
<div class="t-fillGray40">...</div>
<div class="t-fillGray30">...</div>
<div class="t-fillGray20">...</div>
<div class="t-fillGray10">...</div>
<div class="t-fillGray5">...</div>
<div class="t-fillWhite">...</div>
```
{{/markdown}}


  <div class="Demo-field">
    <div class="t-fillPrimaryDark t-paMi t-colorWhite">fillPrimaryDark</div>
    <div class="t-fillPrimary t-paMi t-colorWhite">fillPrimary</div>
    <div class="t-fillPrimaryLight t-paMi t-mbXs">fillPrimaryLight</div>

    <div class="t-fillSuccessDark t-paMi t-colorWhite">fillSuccessDark</div>
    <div class="t-fillSuccess t-paMi t-colorWhite">fillSuccess</div>
    <div class="t-fillSuccessLight t-paMi t-mbXs">fillSuccessLight</div>

    <div class="t-fillNoticeDark t-paMi t-colorWhite">fillNoticeDark</div>
    <div class="t-fillNotice t-paMi t-colorWhite">fillNotice</div>
    <div class="t-fillNoticeLight t-paMi t-mbXs">fillNoticeLight</div>

    <div class="t-fillWarningDark t-paMi t-colorWhite">fillWarningDark</div>
    <div class="t-fillWarning t-paMi t-colorWhite">fillWarning</div>
    <div class="t-fillWarningLight t-paMi t-mbXs">fillWarningLight</div>

    <div class="t-fillErrorDark t-paMi t-colorWhite">fillErrorDark</div>
    <div class="t-fillError t-paMi t-colorWhite">fillError</div>
    <div class="t-fillErrorLight t-paMi t-mbXs">fillErrorLight</div>

  </div>
{{#markdown}}
```html
<div class="t-fillPrimaryDark">...</div>
<div class="t-fillPrimary">...</div>
<div class="t-fillPrimaryLight">...</div>

<div class="t-fillSuccessDark">...</div>
<div class="t-fillSuccess">...</div>
<div class="t-fillSuccessLight">...</div>

<div class="t-fillNoticeDark">...</div>
<div class="t-fillNotice">...</div>
<div class="t-fillNoticeLight">...</div>

<div class="t-fillWarningDark">...</div>
<div class="t-fillWarning">...</div>
<div class="t-fillWarningLight">...</div>

<div class="t-fillErrorDark">...</div>
<div class="t-fillError">...</div>
<div class="t-fillErrorLight">...</div>
```
{{/markdown}}
</section>


<section class="t-clear">
  <h3>Border</h3>
  <div class="Demo-field">
    <div class="t-border t-borderBlack t-paMi">borderBlack</div>
    <div class="t-border t-borderGray90 t-paMi">borderGray90</div>
    <div class="t-border t-borderGray80 t-paMi">borderGray80</div>
    <div class="t-border t-borderGray60 t-paMi">borderGray60</div>
    <div class="t-border t-borderGray40 t-paMi">borderGray40</div>
    <div class="t-border t-borderGray30 t-paMi">borderGray30</div>
    <div class="t-border t-borderGray20 t-paMi">borderGray20</div>
    <div class="t-border t-borderGray10 t-paMi">borderGray10</div>
    <div class="t-border t-borderGray5 t-paMi">borderGray5</div>
    <div class="t-border t-borderWhite t-paMi">borderWhite</div>
  </div>
{{#markdown}}
```html
<p class="t-border t-borderBlack">...</p>
<p class="t-border t-borderGray90">...</p>
<p class="t-border t-borderGray80">...</p>
<p class="t-border t-borderGray60">...</p>
<p class="t-border t-borderGray40">...</p>
<p class="t-border t-borderGray20">...</p>
<p class="t-border t-borderGray10">...</p>
<p class="t-border t-borderGray5">...</p>
<p class="t-border t-borderWhite">...</p>
```
{{/markdown}}

  <div class="Demo-field">
    <div class="t-border t-borderPrimaryDark t-paMi">borderPrimaryDark</div>
    <div class="t-border t-borderPrimary t-paMi">borderPrimary</div>
    <div class="t-border t-borderPrimaryLight t-paMi t-mbXs">borderPrimaryLight</div>

    <div class="t-border t-borderSuccessDark t-paMi">borderSuccessDark</div>
    <div class="t-border t-borderSuccess t-paMi">borderSuccess</div>
    <div class="t-border t-borderSuccessLight t-paMi t-mbXs">borderSuccessLight</div>

    <div class="t-border t-borderNoticeDark t-paMi">borderNoticeDark</div>
    <div class="t-border t-borderNotice t-paMi">borderNotice</div>
    <div class="t-border t-borderNoticeLight t-paMi t-mbXs">borderNoticeLight</div>

    <div class="t-border t-borderWarningDark t-paMi">borderWarningDark</div>
    <div class="t-border t-borderWarning t-paMi">borderWarning</div>
    <div class="t-border t-borderWarningLight t-paMi t-mbXs">borderWarningLight</div>

    <div class="t-border t-borderErrorDark t-paMi">borderErrorDark</div>
    <div class="t-border t-borderError t-paMi">borderError</div>
    <div class="t-border t-borderErrorLight t-paMi t-mbXs">borderErrorLight</div>

  </div>
{{#markdown}}
```html
<div class="t-border t-borderPrimaryDark">...</div>
<div class="t-border t-borderPrimary">...</div>
<div class="t-border t-borderPrimaryLight">...</div>

<div class="t-border t-borderSuccessDark">...</div>
<div class="t-border t-borderSuccess">...</div>
<div class="t-border t-borderSuccessLight">...</div>

<div class="t-border t-borderNoticeDark">...</div>
<div class="t-border t-borderNotice">...</div>
<div class="t-border t-borderNoticeLight">...</div>

<div class="t-border t-borderWarningDark">...</div>
<div class="t-border t-borderWarning">...</div>
<div class="t-border t-borderWarningLight">...</div>

<div class="t-border t-borderErrorDark">...</div>
<div class="t-border t-borderError">...</div>
<div class="t-border t-borderErrorLight">...</div>
```
{{/markdown}}
</section>


<section class="t-clear">
    <h2>Rule Settings</h2>
{{#markdown}}
```css
{{{tools.color.css}}}
```
{{/markdown}}

</section>

{{/content}}
{{/extend}}
